	body {
		background-color: white;
		display: inline;
		font-family: "Arial";
		font-size: initial;
		align: left;
	}
	h1 {
		font-family: "Arial";
		color: black;
		margin-left: 20px;
		fontsize: x-large;
	}
	h2 {
		font-family: "Arial";
		color: black;
		margin-left: 20px;
		font-size: large;
	}
	main {
		  font-family: "Arial";
		  color: black;
		  margin-left: 20px;
		  font-size: initial;
		  display: inline;
		  align: left;
	}
	images {
	display: inline-block;
	float: right;
	}
	form {
		width: 60%;
		display: block;
		background-color: #90d5ff;
		padding: 10px;
	}
	label {display: block; }
	input[type=text] {
		background-color: red;
		width: 90%;
		padding: 10px;
		display: inline-block;
	}
	label {display: block; }
	input[type=submit] {
		background: linear-gradient(to right, red, yellow, blue, blueviolet);
		padding: 10px;
		width: 40%;
		display: inline-block;
	}