body {
   background-color: white;
}
h1 {
   font-family: "Arial";
   color: black;
   margin-left: 20px;
}
h2 {
   font-family: "Arial";
   color: black;
   margin-left: 20px;
}
main {
   font-family: "Arial";
   font-size:1.5em;
   color: black;
   margin-left: 20px;
}